.registration {
	width:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
@media screen and (max-width: 600px) {
    .registration
    {
        width:350px;
    }
}