@media screen and (max-width: 600px){
    .registration {
        width: 300px;
        display: flex;
        flex-direction: column;
        flex-shrink: inherit;
        margin-top: 50px;
    } 
}

.registration {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}