.event-registration {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 300px;

    .drop-down-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-input {
        width: 100%;
    }
}