
header
{
    font-size: max(5vw,40px);
    text-align: center;
    margin:20px;

}
p{
  letter-spacing: 2px;
}
.about>p
{
  margin: 10px 70px 10px 70px;
text-align: justify;  font-size: 30px;
}
.ed p
{
  font-weight: bold;
}
.ed
{
  display: flex;
  justify-content: center;
  flex-direction: row; 
}
.ed p b
{
  font-weight: bolder;
  color:rgba(255,0,200);
}
.ed>*
{
  margin:20px;
  font-size: 20px;
}
.guru{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.guru>div
{
    margin:20px;
    border-radius: 3px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
border-radius: 2
}
.gurus
{
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gurus>*
{
  align-self: center;
}
.gurus>h2
{
  text-align: center;
  font-size: 30px;
  background-image: linear-gradient(45deg,#3BA3FF,#9C00FF);
  padding:10px;
  color:white;
  border-radius: 40px;
}
.benefits
{
  background-image: url('./meditate.png');
  background-repeat: no-repeat;
  background-position: right top;
}
.custom-list {
    list-style: none;
    padding-left: 0;
}
.custom-list li {
  margin:2px;
    position: relative;
    padding-left: 20px;
}
.custom-list li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url('https://images.assetsdelivery.com/compings_v2/krissikunterbunt/krissikunterbunt1808/krissikunterbunt180800259.jpg');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    font-size: 2px;
    transform: translateY(-50%);
}
.benefits>div
{
  margin: 70px;
  width:700px;
  text-align: justify;
  font-size: 20px
}
@media screen and (max-width: 600px) {
.gurus>h2
{
  text-align: center;
  font-size: 30px;
  background-color: white;
  background-image: none;
  padding:10px;
  color:black;
}

  .benefits
  {
    background-position: center top;
    margin:0px;
  }
  .benefits>div
  {
    margin:20px;
    width:auto;
  }
 .benefits>p{
  text-align: justify;
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,.3)
 } 
 .about>p
 {
  font-size: 20px;
 }
}
.btn p
{
  width:140px;
  display: flex;
  font-size: 18px;
  color:white;
  font-weight: bolder;
  justify-content: center;
  background-image: linear-gradient(45deg,#5600d8,#340072);
  margin-top:-10px;
  border-radius: 25px;
  padding:10px;
}
.btn
{
  margin-bottom: 20px;
  display: flex;
  width:100%;
  justify-content: center;
}