
header
{
    font-size: max(5vw,40px);
    text-align: center;
    margin:20px;

}
.meditation>p
{
  margin: 10px 50px 10px 50px;
  color:rgba(0,0,255,.4);
  text-align: center;
  font-size: 45px;
}
.guru{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.guru>div
{
    margin:20px;
    border-radius: 3px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
border-radius: 2
}
.gurus
{
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gurus>*
{
  align-self: center;
}
.gurus>h2
{
  text-align: center;
  font-size: 30px;
}
.memories>div
{
    margin:20px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
border-radius: 2
}
.benefits
{
  height: 600px;
  background-image: url('./meditate.png');
  background-repeat: no-repeat;
  background-position: right top;
}
.benefits>div
{
  margin: 20px;
  width:700px;
  font-size: 25px
}
@media screen and (max-width: 600px) {
  .benefits
  {
    background-position: center top;
  }
 .benefits>div{
  font-size: 30px;
  text-align: center;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,.3)
 } 
 .meditation>p
 {
  font-size: 20px;
 }
}

/*.event-list div
{
flex: 0 0 33.333333%;
}*/
/*.event-list Eventcard
{
    margin: 10px;
}*/
/*.grid-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .common-to-card {
        background-color: aliceblue;
        width: 13vw;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }
    
    .total{
        border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    }
    
    .available{
        border-bottom: 10px solid rgba(0, 255, 0, 1);
    }
    
    .sold{
        border-bottom: 10px solid rgba(0, 0, 255, 1);
    }
    
    .reserved{
        border-bottom: 10px solid rgba(255, 100, 255, 1);
    }
}*/

